{% extends 'base.html.twig' %}

{% block title %}Nftcollection index{% endblock %}

{% block body %}
    <h1>Nftcollection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nftcollection in nftcollections %}
            <tr>
                <td>{{ nftcollection.id }}</td>
                <td>{{ nftcollection.name }}</td>
                <td>
                    <a href="{{ path('app_nftcollection_show', {'id': nftcollection.id}) }}">show</a>
                    <a href="{{ path('app_nftcollection_edit', {'id': nftcollection.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nftcollection_new') }}">Create new</a>
{% endblock %}
